# Local .terraform directories
**terraform/.terraform/*

# .tfstate files
*terraform/.tfstate
*terraform/.tfstate.*

# .tfvars files
*terraform/.tfvars

# Ignore CLI configuration files
terraform/.terraformrc
terraform/terraform.rc

# Ignore Mac/OSX system file, with the folder metadata
terraform/.DS_Store
