# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Mac/OSX system file, with the folder metadata
.DS_Store
